$first-color: #1D73C9;
$second-color : #25C9FF;
$third-color : #CE4139;
$size : 25vw;
$size :$size * 0.25;
$size :$size2 * 0.06;

@mixin circle($size){
    content:"";
    width: $size;
    height: $size;
    border-radius:50%;
}
@mixin abCenter($size){
position : absolute;
top : calc(50% - #{$size * 0.25});
left : calc(50% - #{size * 0.5});
}
body{
    display: flex;
    min-height: 100vh;
}
.ed-team{
    display: flex;
    margin: auto;
    align-items: center;
    &__isotopo {
        @include circule($size);
        background: 2px solid red;
        position: relative;
    }
    &__name{
        display: none;
    }
    &__fragment--1{
        @include Edteamfragmeny($first-color, 0deg)
    }
    &__fragment--2{
        @include Edteamfragmeny($first-color, 120deg)
    }
    &__fragment--3{
        @include Edteamfragmeny($first-color, 240deg)
    }
}
    [class^="ed-team__fragment"]{
        @include circle($size);
        position: absolute;
        clip-Path:polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

        &::after {
            @include circle($size);
            /* background: $first-color; */
            position: absolute;
            background:linear-gradient(transparent 50%, first-color 50%);
            transform:rotate(-60deg);
        }
    }


